html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    position: relative;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

#index {
    height: 100vh;
    justify-content: center;
    /* background: linear-gradient(315deg, rgba(101,0,94,1) 20%, blue 38%, rgba(48,238,226,1) 68%, red 88%);
    animation: gradient 20s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed; */
    /* background: linear-gradient(to bottom right, blue 50%, red 50%); */

}

#descriptionSection {
    height: 100vh;
    justify-content: center;
    /* background: linear-gradient(315deg, rgba(101,0,94,1) 20%, blue 38%, rgba(48,238,226,1) 68%, red 88%);
    animation: gradient 20s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed; */
    /* background: linear-gradient(to bottom right, red 50%, blue 50%); */

}

  #about {
    height: 100vh;
    justify-content: center;
    /* background: linear-gradient(to bottom right, blue 50%, red 50%); */
  }

  #experience {
    height: 100vh;
    justify-content: center;
    /* background: linear-gradient(to bottom right, red 50%, blue 50%); */
  }

  #skills {
    height: 100vh;
    justify-content: center;
    /* background: linear-gradient(to bottom right, blue 50%, red 50%); */
  }

  #contact {
    height: 100vh;
    justify-content: center;
    /* background: linear-gradient(to bottom right, red 50%, blue 50%); */
  }

.MainBody {
    font-size: large;
    height: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, blue 38%, rgba(48,238,226,1) 68%, red 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

.BlogBody {
    font-size: large;
    height: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, blue 38%, rgba(48,238,226,1) 68%, red 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    /* background: linear-gradient(to bottom right, blue 50%, red 50%); */

}

div#name h2 {
    color: white;
}

div#name h1 {
    color: white;
}

div#jeffdescrip {
    text-align: center;
    color: white;
}

p {
    font-size: large;
    color: white;
}

.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-item {
    text-align: center;
    color: white;
}

.navDiv {
    height: 2%;
    padding: 1%;
}

div#name {
    display: block;
    height: 15%;
    width: 80%;
    padding: 5%;
    
}

.ExperienceDiv {
    font-size: x-large;
    color: white;
    background-color: rgb(0, 0, 0, 50%);
}

.projectsDiv {
    margin-top: 4%;
    font-size: x-large;
    color: white;
    background-color: rgb(0, 0, 0, 50%);
}

div#jeffPic {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 65%;
}

div#imageChanger {
    display: flex;
    float: left;
    padding: 5%;
}

p#par {
    position: relative;
    padding: 3%;
    animation: 3s 1 alternate slidein;
}

@keyframes slidein {
    from {
      position: relative;
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      position: relative;
      margin-left: 0%;
      width: 100%;
    }
  }

.box {
    position: relative;
    display: flex;
    justify-content: center;
    height: 35%;
    animation: 3s 1 alternate slidein;
}

.boxItem {
    position: relative;
    text-align: center;
    background-color: rgb(0, 0, 0, 50%);
    width: 35%;
    height: auto;
}

.h3 {
    align-self: center;
}

.life-container {
    padding: 2%;
}

div#blog-posts {
    background-color: #f5f5f5;
    width: 70%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    padding: 2%;
}

div#blog-container {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

#category {
    width: 30%;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2%;
}

.contact-form {
    display: flex;
    justify-content: center;
    width: 100%;
}