section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

#index {
    height: 100vh;
    background: linear-gradient(to bottom right, blue 50%, red 50%);

}

#descriptionSection {
    height: 100vh;
    background: linear-gradient(to bottom right, red 50%, blue 50%);

}

  #about {
    height: 100vh;
    background: linear-gradient(to bottom right, blue 50%, red 50%);
  }

  #experience {
    height: 120vh;
    background: linear-gradient(to bottom right, red 50%, blue 50%);
  }

  #skills {
    background: linear-gradient(to bottom right, blue 50%, red 50%);
  }

  #contact {
    height: 100vh;
    background: linear-gradient(to bottom right, red 50%, blue 50%);
  }

.MainBody {
    font-size: large;
    height: auto;
}

.BlogBody {
    font-size: large;
    height: auto;
    background: linear-gradient(to bottom right, blue 50%, red 50%);

}

div#name h2 {
    color: white;
}

div#name h1 {
    color: white;
}

div#jeffdescrip {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: white;
}

.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-item {
    text-align: center;
    color: white;
}

.navDiv {
    height: 2%;
    padding: 1%;
}

div#name {
    display: block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 15%;
    width: 80%;
    padding: 5%;
    margin-bottom: 5%;
    
}

.ExperienceDiv {
    font-size: x-large;
    color: white;
    background-color: rgb(0, 0, 0, 50%);
    padding: 2%;
    margin-top: 5%;
}

div#jeffPic {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 65%;
}

div#imageChanger {
    display: flex;
    float: left;
    padding: 5%;
}

p#par {
    position: relative;
    padding: 3%;
    animation: 3s 1 alternate slidein;
}

@keyframes slidein {
    from {
      position: relative;
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      position: relative;
      margin-left: 0%;
      width: 100%;
    }
  }

.box {
    position: relative;
    display: flex;
    justify-content: center;
    height: 35%;
    animation: 3s 1 alternate slidein;
}

.boxItem {
    position: relative;
    text-align: center;
    background-color: rgb(0, 0, 0, 50%);
    width: 35%;
    height: auto;
}

.h3 {
    align-self: center;
}

.life-container {
    padding: 2%;
}

div#blog-posts {
    background-color: #f5f5f5;
    width: 70%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    padding: 2%;
}

div#blog-container {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

#category {
    width: 30%;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}