

@media screen and (max-width: 500px) {

    div#jeffpic img {
        width: 300px;
        height: 300px;
    }

    div#jeffpic {
        height: 65%;
    }

    div#imageChanger {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    div#name {
        padding: 10%;
    }
}


@media screen and (max-width: 600px) {
    .box {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        height: auto;
    }
    .boxItem {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    #skills {
        height: 250vh;
    }

    #experience {
        height: 140vh;
    }
    .flex-container {
        flex-direction: column;
    }
}

